<app-titlebar [text]='tit1'></app-titlebar>
<div class="b-box">
  <app-gamebox [box]="t1"></app-gamebox>
  <app-gamebox [box]="t2"></app-gamebox>
  <app-gamebox [box]="t3"></app-gamebox>
  <app-gamebox [box]="t1"></app-gamebox>
  <app-gamebox [box]="t2"></app-gamebox>
  <app-gamebox [box]="t3"></app-gamebox>
  <app-gamebox [box]="t1"></app-gamebox>
  <app-gamebox [box]="t2"></app-gamebox>
  <app-gamebox [box]="t3"></app-gamebox>
</div>
<app-midbar></app-midbar>
<app-titlebar [text]='tit2'></app-titlebar>
<div class="b-box">
  <app-gamebox [box]="r1"></app-gamebox>
  <app-gamebox [box]="r2"></app-gamebox>
  <app-gamebox [box]="r3"></app-gamebox>
  <app-gamebox [box]="r1"></app-gamebox>
  <app-gamebox [box]="r2"></app-gamebox>
  <app-gamebox [box]="r3"></app-gamebox>
  <app-gamebox [box]="r1"></app-gamebox>
  <app-gamebox [box]="r2"></app-gamebox>
  <app-gamebox [box]="r3"></app-gamebox>
</div>

